<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>
        <div class="logo">
            <img src="assets/img/dare.png">
        </div>
  
        <div class="title">
            Welcome to the DARE Business software !
        </div>
  
        <div class="description">
          Dare solutions BV, provides your company with a full ERP software solution aimed at businesses,
          Dare - ERP software can scale to any company needs ...
        </div>
  
    </div>
  
    <mat-card id="login-form-wrapper">
        <div id="login-form">
            <div class="logo" fxHide.gt-xs>
                <img src="assets/img/dare.png">
            </div>
            <div class="title">LOGIN TO YOUR ACCOUNT</div>
            <form name="loginForm" [formGroup]="loginForm" novalidate autocomplete="off">
  
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>username</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>
  
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
  
                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Remember Me
                    </mat-checkbox>
  
                    <a class="forgot-password" [routerLink]="'/forgot-password'">
                        Forgot Password?
                    </a>
                </div>
  
                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                        [disabled]="loginForm.invalid" (click)="login()">
                    LOGIN
                </button>
  
            </form>
  
            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/register'">Create an account</a>
            </div>
        </div>
    </mat-card>
  </div>