@mixin component-register-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  #register {

    #register-intro {
        color: white;
    }

    #register-form-wrapper {
            background: map-get($primary, card);
        }

        #register-form {

            .separator {
                color: map-get($foreground, secondary-text);

                .text {
                    &:before,
                    &:after {
                        border-top-color: map-get($foreground, divider);
                    }
                }
            }
        }
    }
}