  <div id="register" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="register-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo">
            <img src="assets/img/dare.png">
        </div>

        <div class="title">
            Welcome to the DARE Business software !
        </div>

        <div class="description">
            Dare solutions BV, provides your company with a full ERP software solution aimed at businesses,
            Dare - ERP software can scale to any company needs ...
        </div>

    </div>

    <mat-card id="register-form-wrapper">

        <div id="register-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/img/dare.png">
            </div>

            <div class="title">CREATE AN ACCOUNT</div>

            <form name="registerForm" [formGroup]="registerForm" novalidate autocomplete="off">

                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName">
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastName">
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>User name</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>
  
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
  
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>

                <div class="terms" fxLayout="row" fxLayoutAlign="center center">
                    <mat-checkbox name="terms" aria-label="Accept" required>
                        <span>Accept</span>
                    </mat-checkbox>
                    <a href="#">terms and conditions</a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                        [disabled]="registerForm.invalid">
                    CREATE AN ACCOUNT
                </button>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Already have an account?</span>
                <a class="link" [routerLink]="'/login'">Login</a>
            </div>
        </div>
    </mat-card>
</div>
