.dare-documentation {
  max-width: 100%;
}

// Top header, e.g., "API documentation for dialog".
.dare-documentation-h2 {
  font-size: 30px;
}

// Section header, e.g. "Services" or "Directives"
.dare-documentation-h3 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 45px;
}

.dare-documentation-h4 {
  font-size: 18px;
  font-weight: 400;
}

.dare-documentation-class-description {
  font-size: 12px;
}
.dare-documentation-property-name {
  margin: 0;
}

.dare-documentation-method-name-row,
.dare-documentation-method-parameter-row,
.dare-documentation-properties-name-cell {
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
}

.dare-documentation-properties-name-cell,
.dare-documentation-method-parameter-row {
  font-size: 14px;
}

.dare-documentation-method-parameter-type {
  font-size: 12px;
}

.dare-documentation-class-name,
.dare-documentation-module-import {
  display: inline;
}

.dare-documentation-method-name-cell {
  font-weight: 700;
  font-size: 18px;
}

.dare-documentation-method-parameters-header-cell,
.dare-documentation-method-returns-header-cell {
  font-size: 14px;
}

.dare-documentation-input-marker,
.dare-documentation-output-marker,
.dare-documentation-deprecated-marker {
  // Size corresponding to "caption"-style text in the spec.
  font-size: 12px;
}

.dare-documentation-deprecated-marker {
  margin-right: 8px;
}

.dare-documentation-module-import,
.dare-documentation-class-selector-name,
.dare-documentation-class-export-name {
  font-family: 'Roboto Mono', monospace;
  padding: 3px;
}

.dare-documentation-class-extends-type {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: inherit;
  font-weight: 400;
  font-size: 18px;
}

.dare-documentation-async-method-marker {
  display: inline-block;
  vertical-align: baseline;
  padding: 2px 7px;
  margin: 0 12px 0 0;
  border-radius: 5px;
  font-size: 13px;
}

.dare-documentation-deprecated-marker,
.dare-documentation-class-deprecated-marker,
.dare-documentation-interface-deprecated-marker {
  display: inline-block;
  font-weight: bold;

  &[title] {
    border-bottom: 1px dotted grey;
    cursor: help;
  }
}

.dare-documentation-deprecated-marker + .dare-documentation-property-name {
  text-decoration: line-through;
}
