.dare-footer {
  font-size: 12px;
  margin-top: 15px;
}

.dare-footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding-left: 5px;
  padding-right: 5px;
}

.dare-footer-logo {
  flex: 1;
}

#logo-text-2 {
  margin-left: 0;
}

.dare-footer-angular-logo {
  height: 42px;
  padding-bottom: 2px;
}

.dare-footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: column;
  min-width: 225px;
  margin-top: 12px;

  > div {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    text-align: center;
  }

  @media (min-width: 885px) {
    margin-top: 0;
  }
}

.dare-footer-logo span {
  display: inline-block;
  line-height: 50px;
  margin: 0 40px;
  vertical-align: bottom;

  a {
    font-size: 12px;
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

@media screen and (max-width: 884px){
  .dare-footer-list {
    flex-direction: column;
  }
}